[Unit]
Description=Run SmartScan Script

[Service]
EnvironmentFile=%h/.smartscan/smartscan.conf
ExecStart=/bin/bash -c '/usr/local/bin/smartscan scan'

[Install]
WantedBy=default.target
